[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.37.0"
protobuf = "==3.15.8"

[dev-packages]
coverage = "==5.5"
flake8 = "==3.9.1"
mccabe = "==0.6.1"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"
grpcio-tools = "==1.37.0"
grpcio-testing = "==1.37.0"
twine = "==3.4.1"
pytest = "==6.2.3"
pytest-asyncio = "==0.15.1"
pytest-grpc = "==0.8.0"

[requires]
python_version = "3.8"
